* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

th > button {
  width: 50px;
  height: 40px;
  background-color: orange;
  border: 1px black;
  border-radius: 5px;
  margin: 1px;
}

button {
  width: 33px;
  margin: 2px;
  background-color: rgb(51, 208, 219);
  border: none;
}

input {
  box-sizing: border-box;
}

.conv {
  margin: 200px 10vw;
}

.box {
  text-align: center;
  background-color: #eeeeee;
}
.centered {
  display: inline-block;
  margin: 0;
}
.chess-board {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.chess-board th {
  padding: 0.5em;
}
.chess-board td {
  border: 1px solid;
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
}
.chess-board .white {
  background: #f0d9b5;
}
.chess-board .black {
  background: #b58863;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.div::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
